div.jsoneditor,
div.jsoneditor-menu {
    border-color: #8CA1CD;
}

div.jsoneditor-menu {
    background-color: #8CA1CD;
}

div.jsoneditor-contextmenu ul li button.jsoneditor-selected, 
div.jsoneditor-contextmenu ul li button.jsoneditor-selected:focus, 
div.jsoneditor-contextmenu ul li button.jsoneditor-selected:hover
 {
    color: #fff;
    background-color: #EEB71C;
}